
#Logo{
    font-family: 'Whisper', cursive;
    font-size: 40px;
    margin: 0;
    color: rgba(225,225,225, .01);
    background-image: url("./images/background.jpg");
    background-repeat: repeat;
    -webkit-background-clip:text;
    animation: animate 30s ease-in-out infinite;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes animate {
    0%, 100% {
      background-position: left top;
    }
    25%{
      background-position: right bottom;
     }
    50% {
      background-position: left bottom;
    }
    75% {
      background-position: right top;
    }   
}

.banner {
    background-image: url('./images/banner.jpg');
    background-size: cover;
    background-position: center;
    height:400px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h2 {
    color: #FFFFFF;
    font-size: 35px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }