*{
    padding: 0;
    margin: 0;
    font-family: "Roboto",sans-serif;
    box-sizing: border-box;
}
header{
    height: 50px;
    background: rgb(92, 187, 125);
    top: 0px;
}

nav img {
  height: 50px;
  width: auto;
}

 header img{
    max-width: 50px;
    float: left;
} 
.section_services .promo-box .promo-item{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    border-radius: 10px;
    box-shadow: 0 0 3px rgb(0 0 0 / 20%);
}
.section_services .promo-box .promo-item:last-child{
    border-right: 0px none ;
}
.section_services .promo-box .info{
    text-align: left;
    margin-left: 8px;
    display: inline-table;
    vertical-align: middle;
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 0;
    color: coral;
}

  
  
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  
  form.example button {
    float: left;
    width: auto;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; 
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
